body {
   background-color: #f8f8f8f8;
}

/* ##################### Home ##################### */
.fit-cover {
   object-fit: cover;
}

.logo img {
   width: 38px;
}

.img_intro {
   background: linear-gradient(
         144deg,
         rgba(126, 126, 126, 0.8883928571428571) 0%,
         rgba(0, 0, 0, 0.9) 100%
      ),
      url(../img/airplaneBg.jpg) center / cover;
   height: 600px;
}

.secao_intro .container {
   max-width: initial;
   padding: 0;
}

.titulo_intro,
.txt_intro {
   color: #ffffff;
   letter-spacing: 0.2rem;
}

/* ##################### Barra de Pesquisa ##################### */
.pesquisa form {
   display: flex;
   justify-content: center;
   margin-top: 3%;
}

.campo_pesquisa {
   width: 50%;
   padding: 0.5%;
   border-radius: 5px 0px 0px 5px;
   border: 1px solid #a6a6a6;
}

.campo_pesquisa:focus {
   outline: 1px solid #55acee;
}

.btn_pesquisa {
   border-radius: 0px 5px 5px 0px;
   border: 1px solid #a6a6a6;
   font-weight: 500;
}

.btn_pesquisa:hover {
   background-color: #3492da;
   color: #ffffff;
   transition: 250ms;
}

/* ##################### Destinos ##################### */
.secao_destinos {
   margin-top: 5%;
}

.secao_destinos .container .card:hover {
   transition: 350ms;
   box-shadow: 1px 5px 5px #2e2e2e55;
}

.card {
   box-shadow: 1px 5px 5px #2e2e2e23;
}

.card-img {
   height: 450px;
   object-fit: cover;
}

.card-title {
   font-weight: 700;
   font-family: "nunito";
}

.card-text {
   color: rgb(27, 27, 27);
   font-family: "lato";
}

.btn.btn-outline-success.btn-sm {
   font-weight: 600;
   box-sizing: border-box;
   padding: 3%;
}

/* .btn.btn-outline-success.btn-sm::after {
   content: url(../img/switch-user.svg);
   display: inline-block;
   vertical-align: middle;
   width: 30px;
} */

/* ##################### Contato ##################### */
.form-control:focus::-webkit-input-placeholder {
   color: transparent;
}

a {
   text-decoration: none;
}

.link_contato:hover {
   text-decoration: underline;
}

a h6 {
   color: #000;
}

/*##################### Destaque ##################### */
.secao-destaque {
   margin-top: 5%;
}

.titulo_destaque {
   text-align: center;
}

.secao-destaque .container .card {
   width: 90%;
   margin: 0 auto;
   padding: 0;
   flex-direction: row;
   display: flex;
}

.secao-destaque .container .card:hover {
   box-shadow: 1px 5px 5px #2e2e2e55;
   transition: 350ms;
}

.conteudo-destaque {
   padding: 1%;
}

.img-teste {
   width: 40%;
   max-height: 247px;
   border-radius: 4px 0px 0px 4px;
   object-fit: cover;
}

.titulo-destaque {
   font-size: 24px;
}

.condicao {
   text-align: center;
}

.txt-condicao {
   color: #4dbe3b;
   font-weight: 700;
   font-size: 20px;
   margin: 0;
}

.txt-condicao::before {
   content: "Condição: ";
   font-size: 16px;
   vertical-align: middle;
   color: #747474;
}

.desconto {
   text-decoration: line-through;
   color: #ff0000a1;
   font-size: 16px;
   margin: 0;
}

.tag-preço {
   width: 11%;
   height: 21px;
   font-size: 12px;
   text-align: center;
   color: #fff;
   font-weight: bold;
   box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
   background: #4dbe3b;
   transform: rotate(-45deg);
   position: absolute;
   top: 20px;
   left: -3%;
}

/* ##################### Modal ##################### */

.modal-img {
   width: 8%;
   padding-right: 2%;
}

.modal .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   line-height: 2em;
}

.modal .container > div {
   display: flex;
   align-items: center;
}

.txt-modal {
   margin: 0;
}

.info-modal {
   color: #808080;
   font-family: "nunito", sans-serif;
   font-size: 12px;
   text-align: center;
   margin-top: 2%;
}

.info-modal span {
   font-weight: 600;
   color: #747474;
}

.label_data_campo {
   padding-right: 0.5rem;
}

.data_campo {
   height: 25px;
}

/* ##################### Perfil ##################### */

.profile-head {
   transform: translateY(5rem);
}

.profile img {
   width: 40%;
   height: 130px;
}

.cover {
   background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
   background-size: cover;
   background-repeat: no-repeat;
}

.item {
   box-shadow: 5px 5px 5px 0px #dbdbdb;
   text-align: center;
   padding: 1%;
}

/* ######### Chat ######### */

.card {
   background: #fff;
   transition: 0.5s;
   border: 0;
   margin-bottom: 30px;
   border-radius: 0.55rem;
   position: relative;
   width: 100%;
   box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat .chat-header {
   padding: 15px 20px;
   border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header img {
   float: left;
   border-radius: 40px;
   width: 40px;
}

.chat .chat-header .chat-about {
   float: left;
   padding-left: 10px;
}

.chat .chat-history {
   padding: 20px;
   border-bottom: 2px solid #fff;
}

.chat .chat-history ul {
   padding: 0;
}

.chat .chat-history ul li {
   list-style: none;
   margin-bottom: 30px;
}

.chat .chat-history ul li:last-child {
   margin-bottom: 0px;
}

.chat .chat-history .message-data {
   margin-bottom: 15px;
}

.chat .chat-history .message-data img {
   border-radius: 40px;
   width: 40px;
}

.chat .chat-history .message-data-time {
   color: #434651;
   padding-left: 6px;
}

.chat .chat-history .message {
   color: #444;
   padding: 18px 20px;
   line-height: 26px;
   font-size: 16px;
   border-radius: 7px;
   display: inline-block;
   position: relative;
}

.chat .chat-history .message:after {
   bottom: 100%;
   left: 7%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-bottom-color: #fff;
   border-width: 10px;
   margin-left: -10px;
}

.chat .chat-history .my-message {
   background: #efefef;
}

.chat .chat-history .my-message:after {
   bottom: 100%;
   left: 30px;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-bottom-color: #efefef;
   border-width: 10px;
   margin-left: -10px;
}

.chat .chat-history .other-message {
   background: #e8f1f3;
   text-align: right;
}

.chat .chat-history .other-message:after {
   border-bottom-color: #e8f1f3;
   left: 93%;
}

.chat .chat-message {
   padding: 20px;
}

.float-right {
   float: right;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

/* ##################### correções em responsividade ##################### */
@media (max-width: 1000px) {
   .tag-preço {
      display: none;
   }

   .secao-destaque .container .card {
      flex-direction: column;
   }

   .img-teste {
      width: 100%;
      
   }

   .conteudo-destaque {
      width: 100%;
   }

   .formulario-contato {
      order: 1;
   }

   .icons-formulario {
      order: 2;
   }

   .perfil {
      text-align: center;
   }

   .profile img {
      height: 100px;
   }
}

@media only screen and (max-width: 767px) {
   .chat-app .people-list {
      height: 465px;
      width: 100%;
      overflow-x: auto;
      background: #fff;
      left: -400px;
      display: none;
   }
   .chat-app .people-list.open {
      left: 0;
   }
   .chat-app .chat {
      margin: 0;
   }
   .chat-app .chat .chat-header {
      border-radius: 0.55rem 0.55rem 0 0;
   }
   .chat-app .chat-history {
      height: 300px;
      overflow-x: auto;
   }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
   .chat-app .chat-list {
      height: 650px;
      overflow-x: auto;
   }
   .chat-app .chat-history {
      height: 600px;
      overflow-x: auto;
   }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
   .chat-app .chat-list {
      height: 480px;
      overflow-x: auto;
   }
   .chat-app .chat-history {
      height: calc(100vh - 350px);
      overflow-x: auto;
   }
}
